{%extends 'base.html'%} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center">TrackIt</h1>
      <br />
      <p>
        TrackIt, your student-built budgeting buddy, puts you in control of your
        finances!
      </p>
      <p>
        This user-friendly app lets you track your income (allowance, part-time
        job) and expenses (lunch money, school supplies, clothes shopping
        sprees!) to gain valuable insights into your spending habits. Analyze
        your data to see where your money goes, set realistic saving goals for
        that must-have gadget, and even challenge your friends to healthy
        spending competitions!
      </p>
      <p>
        TrackIt is still under development, but stay tuned for upcoming
        educational resources on budgeting and financial responsibility. Share
        your feedback and be part of the TrackIt movement to turn your financial
        goals into reality!
      </p>
    </div>
  </body>
</html>
{%endblock%}
