{%extends 'base.html'%} {%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
  </head>
  <body>
    TrackYourGoals, founded by finance professionals in 2023, is an expense
    tracker app designed to empower users with a simple and secure way to manage
    their finances. We prioritize user-friendliness, data security, and
    financial literacy, offering personalized insights and educational resources
    to help users understand their spending habits and achieve their financial
    goals. Join the TrackYourGoals community and take control of your financial
    journey today!
  </body>
</html>
{%endblock%}
