{% extends 'base.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Expense Detail</h2>

    <div class="card">
      <div class="card-header">The Details Of Expense {{expenseDetail.id}}</div>
      <div class="card-body">
        <p class="card-text">
          <strong>Category: </strong>{{expenseDetail.category}}
        </p>
        <p class="card-text">
          <strong>Amount: </strong> {{expenseDetail.amount}}
        </p>
        <p class="card-text">
          <strong>Description: </strong>
          {{expenseDetail.description}}
        </p>
        <p class="card-text"><strong>Date: </strong>{{expenseDetail.date}}</p>
        <p class="card-text">
          <strong>Created at: </strong>{{expenseDetail.created_at}}
        </p>
        <br />
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
</html>

{%endblock%}
