{%extends 'base.html'%}{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Take Control of Your Finances</title>
  </head>
  <body class="body">
    <div class="col-md-6 offset-md-3">
      <h1>Take Control of Your Finances</h1>

      <p>
        Effortlessly track your expenses and gain valuable insights into your
        spending habits.
      </p>

      <div class="features">
        <h3>Key Features</h3>
        <ul>
          <li>Simple and intuitive interface for easy expense tracking.</li>
          <li>Categorize your expenses for better budgeting and analysis.</li>
          <li>
            Visualize your spending patterns with clear and informative charts.
          </li>
          <li>
            Set budget goals and track your progress towards financial
            milestones.
          </li>
        </ul>
      </div>
      <div class="money-quotes">
        <h3>Money Tips</h3>
        <ul>
          <li>
            The only safe way to double your money is to fold it over in half
            and put it in your pocket
          </li>
          <li>
            Don't tell me what your priorities are. Show me your budget, and
            I'll tell you.
          </li>
        </ul>
      </div>
      <br />
      <div class="call-to-action">
        <p>Start your journey to financial freedom today!</p>
      </div>
    </div>
  </body>
</html>
{%endblock%}
