{%extends 'base.html'%}{%block content%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Take Control of Your Finances</title>
  </head>
  <body class="body">
    <h1>Take Control of Your Finances</h1>

    <p>
      Effortlessly track your expenses and gain valuable insights into your
      spending habits.
    </p>

    <div class="features">
      <h2>Key Features</h2>
      <ul>
        <li>Simple and intuitive interface for easy expense tracking.</li>
        <li>Categorize your expenses for better budgeting and analysis.</li>
        <li>
          Visualize your spending patterns with clear and informative charts.
        </li>
        <li>
          Set budget goals and track your progress towards financial milestones.
        </li>
        <li>Securely access your data from any device.</li>
      </ul>
    </div>

    <div class="call-to-action">
      <p>Start your journey to financial freedom today!</p>
    </div>
  </body>
</html>
{%endblock%}
